.form {
	width: 100%;
	&__fieldset {
		margin-bottom: 2rem;
	}
	&__field-place{
		@include scut-size(100% 3rem);
		margin-bottom: 2.5rem;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&.invalid{
			input{
				border-color: #c76a60;
				&::placeholder {
					color: #c76a60;
				}
			}
			svg{
				fill: #c76a60 !important;
			}
		}
	}
	&__input {
		font-size: 1.6rem;
		font-weight: 100;
		color: #000;
		border: 0;
		border-bottom: 1px solid #7f7f7f;
		background-color: transparent;
		@include scut-size(100%);
		&::placeholder {
			opacity: 1;
			font-size: 1.6rem;
			font-weight: 100;
			color: #7f7f7f;
		}

		&:focus {
			border-bottom-color: #000;
			outline: 0;
		}
	}
	&__send-btn {

	}
}