@at-root {
	.quest-panel{
		//@include scut-size(14.6rem 4rem);
		@include scut-absolute(n n 2rem 1.5rem);
		z-index: 3;
		&__icon{
			margin-right: 0.5rem;
			display: inline-block;
			vertical-align: bottom;
			svg{
				fill:#fff;
			}
			&.actor{
				svg{
					@include scut-size(1.2rem);
				}
			}
			&.difficulty{
				svg{
					@include scut-size(1.3rem);
				}
			}
			&.people{
				svg{
					@include scut-size(2rem 1.3rem);
				}
			}
			&.duration{
				svg{
					@include scut-size(1.2rem);
				}
			}
			&.age{
				svg{
					@include scut-size(2.3rem 1.4rem);
				}
			}
		}
		&__descr{
			font-size: 0.9rem;
			color:#fff;
			vertical-align: bottom;
			display: inline-block;
			margin-right: 1.5rem;
			font-weight: 100;
		}

	}
}