.quest{
	background-color: #000;
	color: #fff;
	position: relative;
	padding-top: 50%;
	overflow: hidden;

	&:after{
		/*content: "";
		@include scut-size(100%);
		@include scut-absolute();
    	background: #000000;*/
	}
	&.error:after{
		/*content: "";
		background: #f00;*/
	}
	&.load:after{
		/*content: "";
		background: #0f0;*/
	}
	&.loading:after{
		//content: none;
	}

	&:before{
		content: "";
		@include scut-size(100% 7.2rem);
		@include scut-absolute(n 0 0 n);
		background: linear-gradient(to top, #000, transparent);
		z-index: 1;
	}
	/*на главной плашка является ссылкой*/
	&_role_link{
		display: block;
		.quest__img{
			filter:brightness(1);
			transition: 0.1s;
		}
		&:active{
			.quest__img{
				filter:brightness(0.5);
				transition: 0.1s;
			}
		}
	}
	/*фоновая картинка*/
	&__img{
		width: 100%;
		@include scut-absolute();
		z-index: 0;
		&_role {
			&_bg {
				height: 100%;
			}
		}
		&_filter_blur{
			.cssfilters &{
				filter: url("#blur");
			}
		}
		&.pending{
			display: none;
		}
		&.complete{
			display: block;
		}
	}
	@at-root {
		.block{
			z-index: 1;
			&_side{
				/*левый верхний угол блока.*/
				&_top-left{
					@include scut-absolute(1.5rem n n 1.5rem);
				}
				/*левый нижний угол блока.*/
				&_bottom-left{
					@include scut-absolute(n n 1.8rem 1.5rem);
					@at-root {
						/*информация о квесте*/
						.quest-info{
							/*заголовок*/
							&__title{
								font-size: 1.8rem;
								font-weight: 100;
								line-height: 1;
								color:#fff;
								width: 49vw;
								/*иногда он бывает ссылкой*/
								/*стили, чтобы не менялся вид*/
								&_role{
									&_link{
										display: block;
										text-decoration: none;
									}
								}
							}
							/*Описание*/
							&__descr{
								font-size: 1.3rem;
								font-weight: 100;
								color: #fff;

								margin-top: 1rem;
							}
							/*дата проведения*/
							&__date{
								font-size: 1.3rem;
								font-weight: 100;
								line-height: 1;

								margin-top: 1rem;/*данный блок поднимает предидущий, если появляется*/
							}
							/*стоимость квеста*/
							&__cost{
								font-size: 0.9rem;
								font-weight: 100;
								line-height: 1;

								margin-top: 0.5rem;/*данный блок поднимает предидущий, если появляется*/
							}
						}
						/*информационная панель квеста с иконками*/
						.quest-info-panel{
							/*@include scut-absolute(n n 2rem 1.5rem);
							z-index: 3;*/
							margin-top: 1rem;
							/*стили иконок*/
							&__icon{
								margin-right: 0.5rem;
								display: inline-block;
								vertical-align: bottom;
								svg{
									fill:#fff;
								}
								&.actor{
									svg{
										@include scut-size(1.2rem);
									}
								}
								&.difficulty{
									svg{
										@include scut-size(1.3rem);
									}
								}
								&.people{
									svg{
										@include scut-size(2rem 1.3rem);
									}
								}
								&.duration{
									svg{
										@include scut-size(1.2rem);
									}
								}
								&.age{
									svg{
										@include scut-size(2.3rem 1.4rem);
									}
								}
							}
							/*пояснения к иконкам*/
							&__descr{
								font-size: 0.9rem;
								color:#fff;
								vertical-align: bottom;
								display: inline-block;
								margin-right: 1.5rem;
								font-weight: 100;
							}

						}
					}
				}
				/*правый нижний угол блока.*/
				&_bottom-right{
					@include scut-absolute(n 1.5rem 1.8rem n);

					.btn {
						font-size: 1.2rem;
						font-weight: 400;
						color: #fff;
						border: 1px solid #fff;
						border-radius: 3px;
						padding: 0.6rem 1rem;

						&:active {
							color: #000;
							background-color: #fff;
						}

						&_role {
							/*кнопка отмены*/
							&_cancel {

							}
						}
					}

					@at-root {
						/*кнопка*/


						/*время прохождения*/
						.time{
							font-size: 0.9rem;
							font-weight: 100;
							display: inline-block;
							position: relative;
							&:after{
								content: "";
								background: url("../images/svg/icons/quest/time.svg") no-repeat center/cover;
								@include scut-size(1.2rem);
								@include scut-absolute(-0.2rem n n -1.8rem);
							}
						}
					}
				}
				/*правый верхний угол блока.*/
				&_top-right{
					@include scut-absolute(1.5rem 1.5rem n n);
					@at-root {
						/*запрет прохождения*/
						.lock{
							font-size: 0.9rem;
							font-weight: 100;
							color:#fff;
							text-align: right;

							padding-right: 1.8rem;
							position: relative;
							&:after{
								content: "";
								@include scut-size(1.2rem 1.5rem);
								@include scut-absolute(3px 0 n n);
								background: url("../images/svg/icons/quest/locked.svg") no-repeat;
								background-size: contain;
							}
						}
					}
				}
			}
		}
	}
}
