@mixin cross($size,$weight,$color,$rel:true){
	@if $size {
		width: $size;
		height: $size;
	}
	display: block;
	overflow: hidden;
	@if $rel       {position: relative; }
	&:after,&:before{
		content: "";
		position: absolute;
		top: -25%;
		left: 0;
		right: 0;
		margin: auto;
		background-color: $color;
		width: $weight;
		height: 150%;
		box-shadow: none;
	}
	&:after{
		transform:rotate(45deg);
	}
	&:before{
		transform:rotate(-45deg);
	}
}