*{
	font-size: 0;
}

@include scut-reset();

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

input[type='text']{
  border-radius: 0;
}

html { font-size: 10px; }

button,a,label{
  -webkit-tap-highlight-color: transparent;
  background-image: none;
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus {
    outline: 0;
  }
}
