@import "imports";

.quest_page_booking {
	padding: 0;

	@include scut-size(100%);
	@include scut-absolute(0 0 0 0);
	margin: auto;

	&__img {
		@include scut-size(100%);
		display: none;
	}

	&:before {
		z-index: 0;
	}

	.block_side {
		&_bottom-left {
			bottom: 6rem;
		}
		&_bottom-right {
			@include scut-absolute(n 0 0 n);
			width: 100%;
			/*кнопка*/
			.btn {
				font-size: 1.3rem;
				border: 0;
				border-top: 1px solid #fff;
				@include scut-size(50% 4rem);
				border-radius: 0;
				&_role {
					/*кнопка отмены*/
					&_cancel {
						border-right: 1px solid #fff;
					}
					&_reserv {

					}
				}
			}
		}
	}
}
