@import "imports";

.main{

	&_page_certificate{
		padding: 0 15px;
		color: #fff;
		@include scut-size(100% calc(100% - 10rem));
		position: relative;
		background: #000 url(/images/png/cert.png) no-repeat center/cover;
		display: none;

		&#impossible:target{
			display: block;
		}

		&#casino:target{
			display: block;
		}

		.nav {
			&_tabs {
				&_quest-set {
					text-align: center;
				}
			}
			&__tab {
				display: inline-block;
				width: 50%;
				@include scut-vcenter-lh(5.2rem);
				border-bottom: 1px solid #fff;
				&_state {
					&_active {
						font-weight: bold;
						border-bottom: 3px solid #fff;
					}
				}
			}
			&__link {
				font-size: 1.4rem;
				color: #fff;
				text-decoration: none;
			}
		}
	}
	&__img{

	}
	&__title{
		font-size: 18px;
		padding-top: 1.9rem;
		margin-bottom: 1.2em;
	}
	&__descr{
		font-size: 13px;
	}

	.prices{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: calc(100% - 3rem);
		@include scut-absolute(n 0 9.1rem 0);
		margin: auto;
		.price{
			width: 13.7rem;
			&__cost{
				font-size: 18px;
				border-top: 1px solid #fff;
				padding-top: 20px;
			}
			&__descr{
				font-size: 13px;
				vertical-align: top;
				padding-top: 5px;
			}
		}
	}


	.tel{
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include scut-size(calc(100% - 3rem) 6.6rem);
		border-top: 1px solid #fff;
		@include scut-absolute(n 0 0 0);
		margin: auto;
		&__title{
			font-size: 13px;
		}
		&__descr{
			font-size: 18px;
		}
		&__link{
			text-decoration: none;
			color: #fff;
			font-size:inherit;
		}
	}
}