@import "imports";

body{
    min-height: 45rem;
}
.main_page_contacts{
	@include scut-size(100% calc(100% - 6.6rem));
}

.contacts{
	background-color: #ebebeb;
	@include scut-size(100% 17rem);
	@at-root {
		.contacts-list{
			padding: 3rem 1.5rem;
			&__item{
				font-size: 1.4rem;
				font-weight: 100;
				color: #7f7f7f;
				position: relative;
				padding-left: 2.5rem;
				margin-bottom: 1.5rem;
				list-style: none;
				&_role{
					&_address{
						&:before{
							content: url("../images/svg/icons/contacts/address.svg");
							@include scut-size(1rem 1.8rem);
							@include scut-absolute(0rem n n 0);
						}
					}
					&_metro{
						&:before{
							content: url("../images/svg/icons/contacts/metro.svg");
							@include scut-size(1.3rem 1rem);
							@include scut-absolute(0rem n n 0);
						}
					}
					&_tel{
						&:before{
							content: url("../images/svg/icons/contacts/tel.svg");
							@include scut-size(1rem);
							@include scut-absolute(0rem n n 0);
						}
					}
					&_email{
						&:before{
							content: url("../images/svg/icons/contacts/@.svg");
							@include scut-size(1.2rem);
							@include scut-absolute(0rem n n 0);
						}
					}
				}

				a{
					font-size: 1.4rem;
					font-weight: 100;
					color: #7f7f7f;
					text-decoration: none;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	@at-root {

	}
}
.map{
	min-height: 21.4rem;
	height: calc(100% - 17rem);

	.gm­style­iw * {
		display: block;
		width: 100%;
	}
	.gm­style­iw h4, .gm­style­iw p {
		margin: 0;
		padding: 0;
	}
	.gm­style­iw a {
		color: #4272db;
	}
}
