@import "imports";

/*.top{
	@include scut-size(100%);
	text-align: center;

	position: relative;
	height: 0;
	padding-top: 50%;

	background-color: #000;
	&__descr{
		font-size: 1.3rem;
		font-weight: 100;
		color:#fff;
		line-height: 1;
		@include scut-absolute(0 0 0 0);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
}*/

.set{
	&_title{
		&_casino{
			.set__descr{
				background: #000;
				&:after{
					background: #000 url(../images/png/casino.svg) no-repeat center/auto 50%;
				}
			}
		}
		&_impossible{
			.set__descr{
				background: url(../images/png/impossible-bg.jpg) no-repeat center/cover;
				&:after{
					background: url(../images/png/impossible.png) no-repeat center/auto 50%;
				}
			}
		}
	}
	&__descr{
		position: relative;
		padding-top: 50%;
		&:after{
			content: "";
			@include scut-size(100%);
			@include scut-absolute();
		}
	}
	.quests{

	}
	.quest{
		&__img{

		}
	}
	&_title{
		&_casino{
			.quest{
				//background: #000 url(../images/svg/img/casino.svg) no-repeat center/auto 50%;
			}
		}
		&_impossible{

		}
	}
}
