@import "imports";

@import "setup";

html {
	height: 100%;
}

#blur-svg {
	display: none;
}

* {
	font-family: "helveticaneuecyr","Arial";
}

body {
	min-height: 32rem;
	//min-height: 100%;
	height: 100%;
	position: relative;

	&.disable-pointer-events * {
		pointer-events: none !important;
	}
}

.scale {
	&__bg {
		width: 100%;
		@include scut-absolute();
	}
}

.top-block{
	@include scut-size(100% 3.4rem);
	position: relative;
	background-color: #000;
	&__tel{
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		@include scut-absolute(0 n 0 4.5rem);
		margin: auto;
		display: table;
		text-decoration: none;
		&:before{
			content: "";
			background: url("../images/svg/icons/tel.svg") no-repeat center/contain;
			@include scut-size(1.5rem 1.5rem);
			@include scut-absolute(0 n n -2.8rem);
		}
	}
	@at-root {
		.social-list{
			@include scut-absolute(0 1.5rem 0 n);
			margin: auto;
			height: 1.5rem;

			&__item{
				display: inline-block;
				position: relative;
				height: 1.5rem;
				margin-right: 2.5rem;
				&:last-child{
					margin-right: 0;
				}
				.icon{
					@include scut-size(100%);
					svg{
						@include scut-size(100%);
						fill:#fff;
					}
				}
				&:hover{
					svg{
						fill:#9c9c9c;
					}
				}

				&.vk{
					width: 12px;
					.icon{

					}
				}
				&.tw{
					width: 16px;
					.icon{

					}
				}
				&.fb{
					width: 8px;
					.icon{
						height: 19px;
						top: -2px;
					}
				}
				&.inst{
					width: 14px;
					.icon{

					}
				}
			}
			&__link{
				display: block;
				@include scut-size(100%);
				position: relative;
				z-index: 1;
			}
		}
	}
}

header {
	display: block;
	@include scut-size(100% 6.6rem);
	border-bottom: 1px solid #d1d1d1;
	position: relative;
	@at-root {
		.logo {
			display: block;
			@include scut-absolute(0 n 0 1.5rem);
			@include scut-size(5rem 3.7rem);
			margin: auto;
			z-index: 5;
			&__img {
				@include scut-size(5rem 3.7rem);
				fill: #000;
				&:active{
					fill:#7f7f7f;
				}
			}
		}

		.nav {
			&__trigger {
				display: none;
				&:checked {
					& + .nav__label {
						.icon__label {
							@include cross(false, 1px, #000, false);
						}
					}
				}
			}
			&__label {
				@include scut-size(4.7rem 4.7rem);
				display: block;
				@include scut-absolute(1rem 0 n n);
				.icon__label {
					@include scut-size(1.7rem 1.7rem);
					@include scut-absolute(0 0 0 0);
					margin: auto;
					&:before {
						content: "";
						@include scut-absolute(0 0 n n);
						@include scut-size(100% 0);
						box-shadow: 0 0 0 1px #000, 0 8px 0 1px #000, 0 16px 0 1px #000;
					}
				}

			}
			&_block_header {
				@include scut-absolute(0 n n 0);
				@include scut-size(100% 6.6rem);
				overflow: hidden;
				z-index: 3;
				background-color: #fff;
				transition: height 0.1s linear;
				&.showMenu {
					height: 10.13rem;
					transition: height 0.1s linear;
				}
				@at-root {
					.nav_block_header {
						.nav-menu-wrapper {
							margin-top: 6.6rem;
							height: 10rem;
							overflow-x: scroll;
							-webkit-overflow-scrolling: touch;
						}
						.nav-menu {
							//width: 42rem;
							@include scut-list-inline(2rem, false);
							white-space: nowrap;
							word-wrap: normal;
							&__item {
								height: 100%;

								&:first-child {
									padding-left: 1.5rem;
								}
								&:last-child {
									padding-right: 1.5rem;
								}
								&.active {
									pointer-events: none;
									.nav-menu__link {
										font-weight: 700;
									}
								}
								&:active {
									.nav-menu__link {
										color: #9c9c9c;
									}
								}
							}
							&__link {
								@include scut-vcenter-lh(3.53rem);
								display: block;
								font-size: 1.3rem;
								font-weight: 100;
								color: #000;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}

main {
	width: 100%;
	min-height: calc(100% - 6.6rem);
	position: relative;
}
@import "blocks/quest";
@import "blocks/form";
