@import "imports";


.main_page_login {

}

.trigger {
	display: none;

	&_login-area {
		&_auth:checked {
			& ~ .login-area_role_auth {
				display: flex;
				@media all and (max-height: 450px) {
					min-height: 37.5rem;
				}
			}
		}
		&_reg:checked {
			& ~ .login-area_role_reg {
				display: flex;
				@media all and (max-height: 450px) {
					min-height: 34.5rem;
				}
			}
		}
		&_recovery:checked {
			& ~ .login-area_role_recovery {
				display: flex;
				@media all and (max-height: 450px) {
					min-height: 24.8rem;
				}
			}
		}
	}
}

.login-area_role_tel{
	display: flex !important;
	@media all and (max-height: 450px) {
		min-height: 30rem;
	}
}

.login-area {
	@media all and (max-height: 450px) {
		bottom: auto;
	}
	padding: 4.5rem 1.5rem;
    @include scut-size(100%);
    @include scut-absolute(0 0 0 0);
	margin: auto;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #ebebeb;
	&__label {
		font-size: 1.3rem;
		font-weight: 700;
		color: #7f7f7f;
		@include scut-absolute(n n 1.7rem n);

		&:active{
			color: #000;
		}

		&_role {
			&_reg {
				left: 1.5rem;
			}
			&_recovery {
				right: 1.5rem;
			}
			&_auth {
				left: 1.5rem;
			}
		}
	}
	&_role {
		&_tel{
			&.login-area {
				.form__btn_role_complete{
					margin-bottom: 1rem;
				}
			}
		}
		&_auth {
			&.login-area {
				@at-root {
					.social-auth-list {
						margin-top: 1.5rem;
						width: 100%;
						&__title {
							opacity: 1;
							font-size: 1.6rem;
							font-weight: 100;
							color: #7f7f7f;
							margin-bottom: 1.5rem;
						}
						&__items {

						}
						&__link {
							display: block;
							text-align: center;
							line-height: 4rem;
							vertical-align: top;
							text-decoration: none;

							margin-bottom: 1rem;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		&_reg {
			.login-area {

			}
		}
		&_recovery {
			.login-area {

			}
		}
	}

	@at-root {
		.alert-mess {
			@include scut-absolute(1.5rem 0 n 0);
			margin: auto;
			display: none;
			font-size: 1.3rem;
			font-weight: 100;
			color: #c76a60;
			text-align: center;

			&.visible{
				display: block;
			}
		}
	}
}

@at-root {
	.btn {
		&_page {
			&_login {
				font-size: 1.6rem;
				font-weight: 100;
				color: #ebebeb;
				background-color: #7f7f7f;
				border-radius: 3px;
				@include scut-size(100% 4rem);

				&:active {
					background-color: #000;
				}
			}
		}
	}
}