@import "imports";

.main_page_text-content{
  background-color: #ebebeb;
}

.text{
	color: #7f7f7f;
	width: 100%;
	padding: 3rem 1.5rem;
	*{
		font-size: 1.4rem;
		font-weight: 100;
	}
	&__p{
		margin-bottom: 2rem;
	}
	ul{
		list-style: none;
		li{
			margin-bottom: 2rem;
			&:before{
				content: "- ";
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
