@import "imports";


.quest_page_timetable{

	@media all and (orientation : landscape) {

	}
	@media all and (orientation : portrait) {
		padding-top: 90%;
		.quest__img{

		}
	}
	.quest{

		&__img{
			@include scut-size(100%);
		}

		&__trigger{
			display: none;
			&:checked{
				&~.descr-wrap{

				}
			}
		}

		&__label{
			@include scut-absolute();
			@include scut-size(100%);
			z-index: 2;
		}
	}

	.block_side {
		&_bottom-left {
			.quest-info {
				overflow: hidden;
				height: 6rem;
				padding-right: 1.5rem;

				transition: height 0.2s;
			}
		}
	}
}

.timetable-content{
	width: 100%;

	&__trigger{
		display: none;
	}

	@at-root {
		@for $i from 1 through 14 {
			#list_trigger_#{$i}:checked{
				&~.date-list-wrapper{
					[for="list_trigger_#{$i}"]{
						pointer-events: none !important;
						*{
							font-weight: 700;
						}
					}
				}
				&~.timetable-content__lists{
					.list:nth-child(#{$i}){
						display: block;
					}
				}
			}

		}
	}


	@at-root {
		.date-list-wrapper{
			overflow: hidden;
			@include scut-size(100% 5.2rem);
			position: relative;


		}
		.date-list{
			//@include scut-size(100% 5rem);
			width: 100%;
			white-space: nowrap;
			word-wrap: normal;

			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;

			position: relative;
			z-index: 0;

			height: 10rem;

			padding-top: 1.6rem;

			&__item{
				width: 4.5rem;
				display: inline-block;
				text-align: center;
				&:first-child{
					margin-left: calc((100% - 4.5rem)/2);
				}
				&:last-child{
					margin-right: calc((100% - 4.5rem)/2);
				}
				&.active{
					pointer-events: none !important;
					&:after{

					}
				}

				.date{
					text-decoration: none;
					display: block;

					&:active{
						*{
							color: #9c9c9c;
						}
					}

					&_day{
						&_on{
							color:#000;
						}
						&_off{
							color:#cb210f;
						}
					}
					&__num{
						font-size: 1.3rem;
						font-weight: 100;
						line-height: 1;
					}
					&__weekday{
						font-size: 0.9rem;
						font-weight: 400;
						line-height: 1;
					}
				}


			}
		}

		.timetable-content{

			width: 100%;

			&__trigger{
				display: none;
			}

			&__lists{
				position: relative;
				z-index: 1;

				border-top: 1px solid #ebebeb;
				&:after{
					content: "";
					@include scut-size(1.5rem 0.8rem);
					background: #fff url("../images/svg/icons/arrow.svg") no-repeat bottom center/100%;
					@include scut-absolute(-0.8rem 0 n 0);
					z-index: 3;
					margin: auto;
				}
			}

			@at-root {
				.list{
					width: 100%;
					display: none;



					&__item{

					}
					@at-root {
						.info{
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							@include scut-size(100% 5rem);
							border-bottom: 1px solid #ebebeb;

							&__link{
								text-decoration: none;
								display: block;
								text-align: center;

								&:active{
									*{
										color:#000 !important;
									}
								}

								&_state_non-active{
									*{
										color:#cacaca !important;
										pointer-events: none;
									}
								}
							}

							&__time{
								font-size: 1.4rem;
								font-weight: 100;
								color:#000;
								line-height: 1;
								&_state{
									&_active{

									}
									&_noactive{
										color: rgba(0,0,0,0.3);
									}
								}
							}
							&__cost{
								color: #cacaca;
								font-size: 0.9rem;
								font-weight: 400;
								line-height: 1;
								margin-top: 0.2rem;
							}
						}
					}
				}
			}
		}
	}
}
