@import "imports";

.main_page_user-page{

	.btn{
		&_role{
			&_exit,&_send{
				@include scut-absolute(11.7rem 1.5rem n n);

				font-size: 1.2rem;
				font-weight: 400;
				color: #ebebeb;
				background-color: #7f7f7f;
				border-radius: 3px;
				padding: 0.6rem 1rem;
				
				&[disabled]{
					background-color: #cacaca;
				}

				&:active{
					background-color: #000;
				}
			}
			&_exit{
				right: 110px;
			}
		}
	}

	.alert-mess{
		top: 0.5rem;
	}

	.form {
		padding: 2rem 1.5rem 5rem 1.5rem;
		background-color: #ebebeb;
		&__fieldset {
			margin-bottom: 0;
		}
		&__field-place {

			&_name {
				&_name {
					.form__icon {
						@include scut-size(0.9rem 1.1rem);
					}
				}
				&_tel {
					.form__icon {
						@include scut-size(1.1rem);
					}
				}
			}
			&:last-child {
			}
		}
		&__icon {
			display: block;
			@include scut-absolute(0 n 0 0);
			margin: auto;
			fill: #7f7f7f;
		}
		&__input {
			text-indent: 2.5rem;
			&:focus {
				& ~ svg {
					fill: #000;
				}
			}
		}
		&__send-btn {

		}
	}

	.nav{
		&_tabs{
			&_quest-set{
				background-color: #fff;
				text-align: center;
				padding: 0 1.5rem;
			}
		}
		&__tab{
			display: inline-block;
			width: 50%;
			@include scut-vcenter-lh(4rem);
			border-bottom: 1px solid #000;
			&_state{
				&_active{
					font-weight: bold;
					border-bottom: 3px solid #000;
				}
			}
		}
		&__link{
			font-size: 1.4rem;
			color: #000;
			text-decoration: none;
		}
	}
}



.category-list{

	&__item{
		@at-root {
			.category{
				&__header{
					font-size: 1.3rem;
					font-weight: 100;
					color: #7f7f7f;
					text-align: center;
					@include scut-size(100% 4rem);
					background-color: #fff;

					display: flex;
					justify-content:center;
					align-items:center;
				}

				&_type{
					&_repeat{
						.quest-list{
							&__item{
								.quest{
									&__title{

									}
								}
							}
						}
					}
					&_notpassed{
						.quest-list{
							&__item{
								.quest{
									&__title{

									}
								}
							}
						}
					}
				}

				@at-root {
					.quest-list{
						&__item{

						}
					}
				}
			}
		}
	}
}

