//-
	1) обработать все возможные ошибки(ajax,filereader и тд)
	2) Написать тест для woff. На сервак копировать только ttf, когда станет ясно, что поддерживаются только они, подключать файл для ttf
	6) сделать валидацию (проверять только пустоту полей в лк - потому что они не могут быть пустыми, в формах валидировать email , пустоту и соответствие полей)
	8) в timetable прописать стили для не активных полей. (класс взять с десктопа)

doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Exit
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		// build:js scripts/modernizr.js
		script(src='/scripts/modernizr/modernizr.custom.js')

		script(src='/scripts/modernizr/calcViewport.test.js')
		script(src='/scripts/modernizr/calcPercent.test.js')
		//-script(src='/scripts/modernizr/woff2.test.js')
		//-script(src='/scripts/modernizr/jp2.test.js')
		// endbuild

		link(rel='shortcut icon', href='/images/favicons/favicon.ico')
		link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-160x160.png', sizes='160x160')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')
		meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')

		meta(name="msapplication-tap-highlight", content="no")

		// build:js scripts/vendors.js
		// bower:js
		script(src="/bower_components/es6-shim/es6-shim.min.js")
		script(src="/bower_components/localforage/dist/localforage.nopromises.min.js")
		// endbower
		// endbuild

		// build:js /scripts/classesScripts.js
		script(src='/scripts/loadScripts.js')
		script(src='/scripts/loadStyles.js')
		script(src='/scripts/loadImg.js')
		script(src="/scripts/loadBackground.js")
		script(src="/scripts/form.js")
		// endbuild

		block script

		// build:css styles/styles.css
		// bower:css
		link(rel="stylesheet",href="/bower_components/normalize-css/normalize.css")
		// endbower
		link(rel='stylesheet' href='/styles/layout.css')
		link(rel='stylesheet' href='/styles/index.css')
		link(rel='stylesheet' href='/styles/timetable.css')
		link(rel='stylesheet' href='/styles/booking.css')
		link(rel='stylesheet' href='/styles/user-page.css')
		link(rel='stylesheet' href='/styles/login.css')
		link(rel='stylesheet' href='/styles/contacts.css')
		link(rel='stylesheet' href='/styles/text-content.css')
		link(rel='stylesheet' href='/styles/certificate.css')
		// endbuild
	body
		div.svg(style="display:none")
			|@@include('images/svg/sprites.svg')
		div(block="top-block")
			a(elem="tel",href="tel:84952114030") 8 (495) 211 40 30
			ul(block="social-list")
				li.vk(elem="item")
					a(elem="link",href="https://vk.com/exit_msk") VKontakte
						i.icon: svg: use(xlink:href='#vk')

				//-
					li.tw(elem="item")
						a(elem="link",href="https://twitter.com/EXIT_MSK") Twitter
							i.icon: svg: use(xlink:href='#tw')

				li.fb(elem="item")
					a(elem="link",href="https://www.facebook.com/EXIT.MSK") FaceBook
						i.icon: svg: use(xlink:href='#fb')

				li.inst(elem="item")
					a(elem="link",href="http://instagram.com/exit.am") Instagram
						i.icon: svg: use(xlink:href='#inst')
		header
			a(block="logo",mod="role:link",href="/")
				svg(elem="img"): use(xlink:href='#logo')

			nav(block="nav",mod="block:header")
				input#nav__trigger(elem="trigger",type="checkbox",onchange="this.parentNode.classList.toggle('showMenu')")
				label(elem="label",for="nav__trigger")
					i.icon__label
				div(block="nav-menu-wrapper")
					ul(block="nav-menu")
						each item in [{href:"index",title:"Квесты",active:false},{href:"user-page",title:"Личный кабинет",active:true},{href:"contacts",title:"Контакты",active:false},{href:"rules",title:"Правила",active:false},{href:"rules",title:"Сертификат",active:false}]
							li(elem="item",class=(item.active)?"active":"")
								if item.active
									span(elem="link")=item.title
								else
									a(elem="link",href="/"+item.href+".html")=item.title
		block content

		block scripts
