extends _layout

block content
	main(block="main",mod="page:booking")
		div(block="quest",mod="page:booking")
			div(elem="img",mod="role:media",data-src="boss")

			div(block="block",mod="side:top-left")
			div(block="block",mod="side:bottom-left")
				div(block="quest-info")
					a(elem="title",mod="role:link",href="#") Кабинет босса
					div(elem="date") 25 августа, среда, 7:00
					div(elem="cost") стоимость 3000 р
			div(block="block",mod="side:bottom-right")
				form(block="form",mod="name:reservation",name="reservation",data-method="POST",action="/api/reserve/",novalidate=true)
					input(type='hidden', name='quest_slot', value='17022')
					input(type='hidden', name='datetime', value='2015-08-12T20:40')
					.btn-place
						button(block="btn",mod="role:cancel",type='button') Отменить
						button(block="btn",mod="role:reserv",type='submit') Забронировать
			div(block="block",mod="side:top-right")

block scripts
	// build:js /scripts/pageScripts/booking.js
	script(src='/scripts/shim/calcviewport.js')
	script(src="/scripts/pageLoadScript/booking.js")
	script(src = "/scripts/forms/reservationForm.js")
	// endbuild