extends _layout
block content
	div#casino(block="main",mod="page:certificate")
		//-img(elem="img",src="",alt="")

		ul(block="nav",mod="tabs:quest-set")
			li(elem="tab",mod="state:active")
				span(elem="link") Exit casino
			li(elem="tab")
				a(elem="link",href="#impossible") Exit impossible

		h1(elem="title") Подарочный сертификат
		div(elem="descr").
			Участие в ограблении казино – разве это не отличный подарок?<br>
			С подарочным сертификатом EXIT такое возможно!

		div(block="prices")
			dl(block="price")
				dt(elem="cost") 7 000 р
				dd(elem="descr") любой квест
			dl(block="price")
				dt(elem="cost") 4 500 р
				dd(elem="descr") любой квест <br>не дольше 1 часа
		dl(block="tel")
			dt(elem="title") Позвони и закажи:
			dd(elem="descr")
				a(elem="link",href="tel:84952114030") 8 (495) 211 40 30
	div#impossible(block="main",mod="page:certificate")
		//-img(elem="img",src="",alt="")

		ul(block="nav",mod="tabs:quest-set")
			li(elem="tab")
				a(elem="link",href="#casino") Exit casino
			li(elem="tab",mod="state:active")
				span(elem="link") Exit impossible

		h1(elem="title") Подарочный сертификат
		div(elem="descr").
			Участие в ограблении казино – разве это не отличный подарок?<br>
			С подарочным сертификатом EXIT такое возможно!

		div(block="prices")
			dl(block="price")
				dt(elem="cost") 7 000 р
				dd(elem="descr") любой квест
			dl(block="price")
				dt(elem="cost") 4 500 р
				dd(elem="descr") любой квест <br>не дольше 1 часа
		dl(block="tel")
			dt(elem="title") Позвони и закажи:
			dd(elem="descr")
				a(elem="link",href="tel:84952114030") 8 (495) 211 40 30

block scripts
	// build:js /scripts/pageScripts/certificate.js
	script(src='/scripts/shim/calcviewport.js')
	script(src='/scripts/pageLoadScript/certificate.js')
	// endbuild