extends _layout

block script
	script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?sensor=true&&language=ru")
block content
	main(block="main",mod="page:contacts")
		div(block="contacts")
			ul(block="contacts-list")
				li(elem="item",mod="role:address") Новый Арбат, 19
				li(elem="item",mod="role:metro") м. Арбатская, Смоленская
				li(elem="item",mod="role:tel")
					a(elem="link",href="tel:84952114030") 8 (495) 123 45 67
				li(elem="item",mod="role:email")
					a(href="mailto:hello@exit.com") hello@exit.com
		div#map(block="map")
		script.


block scripts
	// build:js /scripts/pageScripts/contacts.js
	script(src='/scripts/shim/calcviewport.js')
	script(src='/scripts/map.js')
	// endbuild
