extends _layout

block content
	main(block="main",mod="page:index")
		//-
			div(block="top")
				img(elem="img",mix="{block:scale,elem:bg}",data-img-name="main")
				p(elem="descr").
					EXIT - Это тематические развлекательные<br>
					интерактивные квесты нового уровня.<br>
					Вы попадаете в запертую комнату.<br>
					У вас есть час, чтобы найти выход.<br>
					Для этого вам придется не только решать<br>
					загадки, но и взаимодействовать с актерами.

		div(block="set",mod="title:casino")
			div(elem="descr")
			div(block="quests")
				- for(var i=0;i<4;i++)
					a(block="quest",mod="role:link",href="/timetable.html")
						img(elem="img",data-src="boss",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							div(block="quest-info")
								div(elem="title") Комната любовинцы
							dl(block="quest-info-panel")
								dt.actor(elem="icon"): svg: use(xlink:href='#actor')
								dd.actor(elem="descr") актер

								dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-medium')
								dd.difficulty(elem="descr") средне

								dt.people(elem="icon"): svg: use(xlink:href='#human-1')
								dd.people(elem="descr") 1 чел.

								dt.duration(elem="icon"): svg: use(xlink:href='#duration')
								dd.duration(elem="descr") 60 мин.

								dt.age(elem="icon"): svg: use(xlink:href='#age-14')
								dd.age(elem="descr")
						div(block="block",mod="side:bottom-right")
						div(block="block",mod="side:top-right")
							div(block="lock") доступно только после<br> прохождения всех квестов
		div(block="set",mod="title:impossible")
			div(elem="descr")
			div(block="quests")
				- for(var i=0;i<4;i++)
					a(block="quest",mod="role:link",href="/timetable.html")
						img(elem="img",data-src="bank",src="",alt="")

						div(block="block",mod="side:top-left")
						div(block="block",mod="side:bottom-left")
							div(block="quest-info")
								div(elem="title") Комната любовинцы
							dl(block="quest-info-panel")
								dt.actor(elem="icon"): svg: use(xlink:href='#actor')
								dd.actor(elem="descr") актер

								dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-medium')
								dd.difficulty(elem="descr") средне

								dt.people(elem="icon"): svg: use(xlink:href='#human-1')
								dd.people(elem="descr") 1 чел.

								dt.duration(elem="icon"): svg: use(xlink:href='#duration')
								dd.duration(elem="descr") 60 мин.

								dt.age(elem="icon"): svg: use(xlink:href='#age-14')
								dd.age(elem="descr")
						div(block="block",mod="side:bottom-right")
						div(block="block",mod="side:top-right")
							div(block="lock") доступно только после<br> прохождения всех квестов
block scripts
	// build:js /scripts/pageScripts/index.js
	script(src="/scripts/pageLoadScript/index.js")
	// endbuild


