extends _layout

block content
	main(block="main",mod="page:login")
		input#trigger_login-area_auth(block="trigger",mod="login-area:auth",name="trigger",type="radio",checked=true)
		input#trigger_login-area_reg(block="trigger",mod="login-area:reg",name="trigger",type="radio")
		input#trigger_login-area_recovery(block="trigger",mod="login-area:recovery",name="trigger",type="radio")
		div(block="login-area",mod="role:auth")

			div(block="alert-mess",mod="target-form:auth") Форма заполнена не верно

			form(block="form",mod="name:auth",name="auth",data-method="POST",action="/api/login/",novalidate=true)
				fieldset(elem="fieldset")
					div(elem="field-place")
						input(elem="input",mod="name:email",type="email",placeholder="адрес электронной почты",name="email",maxlength="50",required=true)
					div(elem="field-place")
						input(elem="input",mod="name:pass",type="password",placeholder="пароль",name="pass",maxlength="50",required=true)
				button(elem="send-btn",mix="{block:btn,mod:{page:login}}") Вход

			dl(block="social-auth-list")
				dt(elem="title") войти с помощью
				dd(elem="items")
					a(elem="link",mix="{block:btn,mod:{page:login}}",href="#") Facebook
					a(elem="link",mix="{block:btn,mod:{page:login}}",href="#") Google+

			label(elem="label",mod="role:reg",for="trigger_login-area_reg") Регистрация
			label(elem="label",mod="role:recovery",for="trigger_login-area_recovery") Восстановить пароль
		div(block="login-area",mod="role:reg")
			div(block="alert-mess",mod="target-form:reg") Форма заполнена не верно

			form(block="form",mod="name:reg",name="reg",action="/api/registration/",data-method="",novalidate=true)
				fieldset(elem="fieldset")
					div(elem="field-place")
						input(elem="input",mod="name:email",type="email",placeholder="адрес электронной почты",name="email",maxlength="50",required=true)
					div(elem="field-place")
						input(elem="input",mod="name:name",type="text",placeholder="имя",name="name",maxlength="50",required=true)
					div(elem="field-place")
						input(elem="input",mod="name:tel",type="tel",placeholder="телефон",name="tel",maxlength="50",required=true)
					div(elem="field-place")
						input(elem="input",mod="name:pass",type="password",placeholder="пароль",name="pass",maxlength="50",required=true)
				button(elem="send-btn",mix="{block:btn,mod:{page:login}}") Регистрация

			label(elem="label",mod="role:auth",for="trigger_login-area_auth") Вход
		div(block="login-area",mod="role:recovery")
			div(block="alert-mess",mod="target-form:recovery") Форма заполнена не верно

			form(block="form",mod="name:recovery",name="recovery",data-method="PUT",action="/api/send-new-password/",novalidate=true)
				fieldset(elem="fieldset")
					div(elem="field-place")
						input(elem="input",mod="name:name",type="email",placeholder="адрес электронной почты",name="name",maxlength="50",required=true)
				button(elem="send-btn",mix="{block:btn,mod:{page:login}}") Восстановить пароль

			label(elem="label",mod="role:auth",for="trigger_login-area_auth") Вход

block scripts
	// build:js /scripts/pageScripts/login.js
	script(src='/scripts/shim/calcviewport.js')
	script(src='/scripts/forms/loginForm.js')
	script(src='/scripts/forms/registrationForm.js')
	script(src='/scripts/forms/resetPassForm.js')
	// endbuild