extends _layout

block content
	main(block="main",mod="page:text-content")
		div(block="text")
			p(elem="p").
				Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
				Nam at tortor in tellus interdum sagittis. Vestibulum ullamcorper mauris at ligula.
				Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh,
				nec pellentesque velit pede quis nunc. Cras risus ipsum, faucibus ut, ullamcorper
				id, varius ac, leo.
			p(elem="p").
				Ut leo. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus volutpat,
				metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus.
				Curabitur blandit mollis lacus. Phasellus volutpat, metus eget egestas mollis,
				lacus lacus blandit dui, id egestas quam mauris ut lacus.
			p(elem="p")
			ul(elem="list")
				li(elem="item").
					Donec vitae orci sed dolor rutrum auctor. Cum sociis natoque penatibus et
					magnis dis parturient
				li(elem="item").
					Donec vitae orci sed dolor rutrum auctor. Cum sociis natoque penatibus et
					magnis dis parturient
				li(elem="item").
					Donec vitae orci sed dolor rutrum auctor. Cum sociis natoque penatibus et magnis dis parturient.
					Donec vitae orci sed dolor rutrum auctor. Cum sociis natoque penatibus et magnis dis parturient

block scripts
	// build:js /scripts/pageScripts/rules.js
	script(src='/scripts/shim/calcviewport.js')
	// endbuild