extends _layout

block content
	main(block="main",mod="page:login")
		div(block="login-area",mod="role:tel")

			div(block="alert-mess",mod="target-form:tel") Форма заполнена не верно

			form(block="form",mod="name:tel",name="tel",data-method="PUT",action="/api/add-required-user-data/")
				fieldset(elem="fieldset")
					div(elem="field-place")
						input(elem="input",mod="name:email",type="tel",placeholder="телефон",name="tel",maxlength="50",required=true)
				button(elem="btn",mod="role:complete",mix="{block:btn,mod:{page:login}}",type="submit") Завершить
				button#abort-registration(elem="btn",mod="role:cancel",mix="{block:btn,mod:{page:login}}",type="button") Прервать
block scripts
	// build:js /scripts/pageScripts/completion.js
	script(src='/scripts/shim/calcviewport.js')
	script(src='/scripts/handlers/abortRegistration.js')
	script(src='/scripts/forms/addRequiredUserData.js')
	// endbuild