extends _layout

block content
	main(block="main",mod="page:timetable")
		div(block="quest",mod="page:timetable")
			div(elem="img",mod="role:media",data-src="boss")

			input#quest__label(elem="trigger",type="checkbox",onchange!="document.querySelector('.quest-info').style.height=(this.checked)?((10+document.querySelector('.quest-info__title').offsetHeight+document.querySelector('.quest-info__descr').offsetHeight)/10+'rem'):'6rem';")
			label(elem="label",for="quest__label")

			div(block="block",mod="side:top-left")
			div(block="block",mod="side:bottom-left")
				div(block="quest-info")
					a(elem="title",mod="role:link",href="#") Кабинет босса
					div(elem="descr").
						У владельца казино Джека Крейтона много секретов, тайн и странностей.
						О его жестокости ходят легенды. О его маниакальном желании подчинить
						удачу и связанных с этим магических ритуалах стараются говорить шепотом.
						Обычно его кабинет предпочитают обходить стороной, но вам, тем не менее,
						придется задержаться в нем на какое-то время. Ведь где-то здесь спрятан
						один из двух ключей, открывающих дверь в хранилище.
				dl(block="quest-info-panel")
					dt.actor(elem="icon"): svg: use(xlink:href='#actor')
					dd.actor(elem="descr") актер

					dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-medium')
					dd.difficulty(elem="descr") легко

					dt.people(elem="icon"): svg: use(xlink:href='#human-3')
					dd.people(elem="descr") 3 чел.

					dt.duration(elem="icon"): svg: use(xlink:href='#duration')
					dd.duration(elem="descr") 60 мин.

					dt.age(elem="icon"): svg: use(xlink:href='#age-18')
					dd.age(elem="descr")

			div(block="block",mod="side:bottom-right")
			div(block="block",mod="side:top-right")

		div(block="timetable-content")

			each date,index in [{num:13,weekday:"ср",active:true},{num:14,weekday:"чт",active:false},{num:15,weekday:"пт",active:false},{num:16,weekday:"сб",active:false},{num:17,weekday:"вс",active:false},{num:18,weekday:"пн",active:false},{num:19,weekday:"вт",active:false},{num:20,weekday:"ср",active:false},{num:21,weekday:"чт",active:false},{num:22,weekday:"пт",active:false},{num:23,weekday:"сб",active:false},{num:24,weekday:"вс",active:false},{num:25,weekday:"пн",active:false},{num:26,weekday:"вт",active:false}]
				input(elem="trigger",type="radio",name="list_trigger",id="list_trigger_"+(index+1),checked=date.active)

			div(block="date-list-wrapper")
				ul(block="date-list")
					each date,index in [{num:13,weekday:"ср",active:true},{num:14,weekday:"чт",active:false},{num:15,weekday:"пт",active:false},{num:16,weekday:"сб",active:false},{num:17,weekday:"вс",active:false},{num:18,weekday:"пн",active:false},{num:19,weekday:"вт",active:false},{num:20,weekday:"ср",active:false},{num:21,weekday:"чт",active:false},{num:22,weekday:"пт",active:false},{num:23,weekday:"сб",active:false},{num:24,weekday:"вс",active:false},{num:25,weekday:"пн",active:false},{num:26,weekday:"вт",active:false}]
						li(elem="item")
							label(block="date",mod=(date.weekday=='сб'||date.weekday=='вс')?"day:on":"day:off",for="list_trigger_"+(index+1))
								div(elem="num")=date.num
								div(elem="weekday")=date.weekday

			div(elem="lists")
				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						span(elem="link",mod="state:non-active")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 01:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 02:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 03:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 04:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 05:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 06:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 07:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 08:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 09:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 10:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 11:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 12:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р

				ul(block="list")
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time",href="") 13:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
					li(block="info",mix="{block:list,elem:item}")
						a(elem="link",href="/booking.html")
							div(elem="time") 00:00
							div(elem="cost") 1000 р
block script
	script(src='/bower_components/interact/interact.js')


block scripts
	// build:js /scripts/pageScripts/schedule.js
	script(src='/scripts/scroll.js')
	script(src='/scripts/pageLoadScript/schedule.js')
	// endbuild