extends _layout

block content
	main(block="main",mod="page:user-page")

		button#logout(block="btn",mod="role:exit",type="button") Выход

		div(block="alert-mess",mod="target:user-data") Форма заполнена не верно
		form(block="form",mod="name:user-data",name="user-data",data-method="PUT",action="/api/change-user-data",novalidate=true)
			fieldset(elem="fieldset")
				div(elem="field-place",mod="name:name")
					input(elem="input",mod="name:name",type="text",placeholder="имя",name="name",maxlength="50",required=true)
					svg(elem="icon"): use(xlink:href='#name')
				div(elem="field-place",mod="name:tel")
					input(elem="input",mod="name:tel",type="tel",placeholder="телефон",name="tel",maxlength="50",required=true)
					svg(elem="icon"): use(xlink:href='#tel')
			button(block="btn",mod="role:send",type="submit", disabled=true) Сохранить

		ul(block="nav",mod="tabs:quest-set")
			li(elem="tab")
				a(elem="link",href="#casino") Exit casino
			li(elem="tab")
				a(elem="link",href="#impossible") Exit impossible

		ul(block="category-list")
			li(elem="item")
				div(block="category",mod="type:reserved")
					h2(elem="header") Забронированные квесты
					ul(block="quest-list")
						li(elem="item")
							div(block="quest")
								img(elem="img",data-src="boss",alt="")
								div(block="block",mod="side:top-left")
								div(block="block",mod="side:bottom-left")
									div(block="quest-info")
										a(elem="title",mod="role:link",href="#") Кабинет босса
										div(elem="date") 25 августа, среда, 7:00
										div(elem="cost") стоимость 3000 р
								div(block="block",mod="side:bottom-right")
									button(block="btn",mod="role:delete-reserve") Отменить
								div(block="block",mod="side:top-right")

			li(elem="item")
				div(block="category",mod="type:completed")
					h2(elem="header") Пройденные квесты
					ul(block="quest-list")
						li(elem="item")
							div(block="quest")
								img(elem="img",data-src="boss",alt="")
								div(block="block",mod="side:top-left")
								div(block="block",mod="side:bottom-left")
									div(block="quest-info")
										a(elem="title",mod="role:link",href="#") Кабинет босса
								div(block="block",mod="side:bottom-right")
									div(block="time") 58 мин
								div(block="block",mod="side:top-right")

			li(elem="item")
				div(block="category",mod="type:repeat")
					h2(elem="header") Не удалось пройти
					ul(block="quest-list")
						li(elem="item")
							div(block="quest")
								img(elem="img",data-src="boss",alt="")
								div(block="block",mod="side:top-left")
								div(block="block",mod="side:bottom-left")
									div(block="quest-info")
										a(elem="title",mod="role:link",href="#") Комната любовнцы
									dl(block="quest-info-panel")
										dt.actor(elem="icon"): svg: use(xlink:href='#actor')
										dd.actor(elem="descr") актер

										dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-light')
										dd.difficulty(elem="descr") средне

										dt.people(elem="icon"): svg: use(xlink:href='#human-3')
										dd.people(elem="descr") 3 чел.

										dt.duration(elem="icon"): svg: use(xlink:href='#duration')
										dd.duration(elem="descr") 60 мин.

										dt.age(elem="icon"): svg: use(xlink:href='#age-8')
										dd.age(elem="descr")

								div(block="block",mod="side:bottom-right")
								div(block="block",mod="side:top-right")



			li(elem="item")
				div(block="category",mod="type:notpassed")
					h2(elem="header") Осталось пройти
					ul(block="quest-list")
						li(elem="item")
							div(block="quest")
								img(elem="img",data-src="boss",alt="")
								div(block="block",mod="side:top-left")
								div(block="block",mod="side:bottom-left")
									div(block="quest-info")
										a(elem="title",mod="role:link",href="#") Комната любовнцы
									dl(block="quest-info-panel")
										dt.actor(elem="icon"): svg: use(xlink:href='#actor')
										dd.actor(elem="descr") актер

										dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-light')
										dd.difficulty(elem="descr") средне

										dt.people(elem="icon"): svg: use(xlink:href='#human-3')
										dd.people(elem="descr") 3 чел.

										dt.duration(elem="icon"): svg: use(xlink:href='#duration')
										dd.duration(elem="descr") 60 мин.

										dt.age(elem="icon"): svg: use(xlink:href='#age-8')
										dd.age(elem="descr")

								div(block="block",mod="side:bottom-right")
								div(block="block",mod="side:top-right")
						li(elem="item")
							div(block="quest")
								img(elem="img",data-src="boss",alt="")
								div(block="block",mod="side:top-left")
								div(block="block",mod="side:bottom-left")
									div(block="quest-info")
										a(elem="title",mod="role:link",href="#") Комната любовнцы
									dl(block="quest-info-panel")
										dt.actor(elem="icon"): svg: use(xlink:href='#actor')
										dd.actor(elem="descr") актер

										dt.difficulty(elem="icon"): svg: use(xlink:href='#difficulty-light')
										dd.difficulty(elem="descr") средне

										dt.people(elem="icon"): svg: use(xlink:href='#human-3')
										dd.people(elem="descr") 3 чел.

										dt.duration(elem="icon"): svg: use(xlink:href='#duration')
										dd.duration(elem="descr") 60 мин.

										dt.age(elem="icon"): svg: use(xlink:href='#age-8')
										dd.age(elem="descr")

								div(block="block",mod="side:bottom-right")
								div(block="block",mod="side:top-right")
									div(block="lock") доступно только после<br> прохождения всех квестов

block scripts
	// build:js /scripts/pageScripts/account.js
	script(src="/scripts/pageLoadScript/userPage.js")
	script(src="/scripts/forms/userDataForm.js")
	script(src="/scripts/handlers/deleteReserve.js")
	script(src="/scripts/handlers/logout.js")
	// endbuild